#courseimg {
height: auto;
width: 100%;
}

.asidecourse {
    border-right: 1px solid whitesmoke;
    height: 500px;
    box-shadow: 4px 0px 4px 0px whitesmoke;
}

@media(max-width:480px){
    .asidecourse{
        height: auto;
    }
}



.news-title {
    border-bottom: 1px dotted #eee;
    border-bottom-width: medium;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.news-post-date {
    color: #949494;
    font-size: 13px;
    font-style: italic;
}

